whisper==1.1.10
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
streamlit==1.30.0
mutagen==1.47.0
python-dotenv==0.21.1
openai==1.10.0
av==10.*
ctranslate2>=3.22,<4
huggingface_hub>=0.13
tokenizers>=0.13,<0.16
onnxruntime>=1.14,<2
faster-whisper=0.10.0
